{% extends 'base.html' %}

{% block content %}

<h1>{{ evento.nome }}</h1>
<p><strong>Data de Início:</strong> {{ evento.data_inicio }}</p>
<p><strong>Data de Fim:</strong> {{ evento.data_fim }}</p>
<p><strong>Descrição:</strong> {{ evento.descricao }}</p>
<p><strong>Local:</strong> {{ evento.local }}</p>

<div class="mt-4">
    <a href="{% url 'list_events' %}" class="btn btn-primary">Voltar para a lista de eventos</a>
    <a href="{% url 'list_participantes' evento_id=evento.id %}" class="btn btn-primary">Lista de Participantes</a>
    <a href="{% url 'adicionar_participante' evento_id=evento.id %}" class="btn btn-primary me-2">Inscrever-se no Evento</a>
</div>

{% endblock %}
