/* Estilos Globais */
html, body {
    height: 100%; /* Garantir que o body ocupe toda a altura da tela */
    margin: 0;
}

body {
    display: flex; /* Usar flexbox para estrutura */
    flex-direction: column; /* Direção vertical */
    font-family: Arial, sans-serif;
    background-color: #0b0b0b; /* Fundo neutro suave */
    color: #343a40; /* Cor do texto */
    padding: 0;
    line-height: 1.6;
}

/* Cabeçalho e Navbar */
header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para o cabeçalho */
}

.navbar {
    background-color: #007bff; /* Azul escuro */
    color: #fff;
}

.navbar-brand,
.nav-link {
    color: #0c0c0c !important; /* Mantém as cores do texto em branco */
}

.nav-link:hover {
    color: #d4d9de !important; /* Cor ao passar o mouse */
}

.navbar-brand img {
    max-height: 40px; /* Ajusta a altura da logo */
}

/* Estilo para o Container Principal */
main.container {
    flex: 1; /* Permitir que o main ocupe o espaço restante */
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    border-radius: 8px; /* Arredondamento das bordas */
    margin-top: 1.5rem;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
    color: #007bff; /* Azul principal para títulos */
    font-weight: 600;
    margin-top: 0;
}

/* Estilos para Botões */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease; /* Transição suave */
}

.btn-primary:hover {
    background-color: #0056b3; /* Tom mais escuro ao passar o mouse */
    border-color: #0056b3;
}

/* Estilo para o Rodapé */
footer {
    background-color: rgba(54, 60, 60, 0.15);
    padding: 1rem 0;
    text-align: right;
    font-size: 0.9rem;
    text-decoration: #0b0b0b;
    color: #0b0b0b;
}


footer {
    margin-top: auto;
}

footer a {
    color: #d4d9de;
    text-decoration: none;
}

footer a:hover {
    color: #f8f9fa;
    text-decoration: underline;
}


.alert {
    margin-top: 20px;
    border-radius: 5px;
}


.card {
    transition: box-shadow 0.3s ease;
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .navbar-brand img {
        max-height: 30px;
    }

    main.container {
        padding: 1rem;
    }

}
